* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

$height-nav: 100px;
$padding-container: 40px;

footer {
  height: 100%;
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  transition: ease 1s all;
  opacity: 0;

  .closeFooter {
    margin: auto auto 24px;

    button {
      padding: 10px 32px;
      cursor: pointer;
      background: linear-gradient(to right, rgb(0, 241, 255), rgb(0, 173, 255));
      background-position: 0 0;
      background-size: 400% 400%;
      transition: all ease-in 0.3s;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      opacity: 0;

      &:hover {
        background-position: right center;
      }

      svg {
        margin-left: 16px;
      }
    }
  }

  .footer--copyright {
    background: #fefefe;
    font-weight: 300;
    text-align: center;
    padding: 24px;
    color: #666;
  }

  .footer-content {
    background: #fefefe;
    padding: 80px $padding-container;
    transform: translateY(500px);
    transition: ease 0.2s all;
    display: flex;
    gap: 40px;
    align-items: center;

    .nav--list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 16px;

      li {
        a {
          cursor: pointer;
          font-weight: 500;
          font-size: 24px;
          color: #666;
          padding: 8px;
          display: flex;
          transition: ease 0.2s all;

          &::before {
            content: "";
            display: block;
            transition: ease 0.2s all;
            width: 0;
            margin: auto 8px 0 0;
            height: 2px;
            background: linear-gradient(
              to right,
              rgb(0, 241, 255),
              rgb(0, 173, 255)
            );
          }

          &:hover {
            color: rgb(0, 173, 255);

            &::before {
              width: 24px;
            }
          }
        }
      }
    }

    .footer--social {
      display: flex;
      margin: auto 0 0 auto;
      gap: 24px;

      a {
        color: rgb(0, 173, 255);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid transparent;
        transition: ease 0.2s all;

        &:hover {
          border: 2px solid rgb(0, 241, 255);
        }
      }
    }
  }

  &.footer--open {
    top: 0;
    opacity: 1;

    .closeFooter {
      margin: auto auto 24px;

      button {
        opacity: 1;
      }
    }

    .footer-content {
      transform: translateY(0);
    }
  }
}

.logo {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  color: #fff;

  span {
    background-image: linear-gradient(
      to right,
      rgb(0, 241, 255),
      rgb(0, 173, 255)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

main {
  > nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: $height-nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 $padding-container;

    .nav--burguer {
      span {
        display: block;
        width: 30px;
        height: 2px;
        background-image: linear-gradient(
          to right,
          rgb(0, 241, 255),
          rgb(0, 173, 255)
        );
        margin: 5px 0;
        transition: all 0.3s ease;
      }
    }
  }
}

.scroll {
  height: 300vh;
  background: black;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.container {
  height: 100vh;
  padding-top: $height-nav;
  padding-bottom: $height-nav;
  padding-left: $padding-container;
  padding-right: $padding-container;
  display: flex;
  position: fixed;
  width: 100%;
}

.header-page {
  text-align: center;
  width: 100%;

  p {
    font-size: 80px;
    font-weight: 900;
    opacity: 0.03;
    letter-spacing: 8px;
    text-transform: uppercase;
  }

  h1 {
    font-weight: 900;
    font-size: 56px;
    margin-top: -72px;
    color: #fff;
    span {
      background-image: linear-gradient(
        to right,
        rgb(0, 241, 255),
        rgb(0, 173, 255)
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.container-intro {
  background: #111111;

  .container-intro--video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
    }

    video {
      width: auto;
      height: 100vh;
      margin: auto;
    }
  }

  .page-intro {
    display: flex;
    gap: 80px;
    flex-direction: row;
    color: rgb(0, 241, 255);

    h1 {
      font-size: 56px;
      font-weight: 500;
    }

    h2 {
      font-size: 40px;
      font-weight: 900;
      color: #fff;
    }

    p {
      margin-top: 32px;
      font-size: 24px;
      max-width: 600px;
      font-weight: 300;
    }

    .page--info-button {
      margin-top: 80px;
      display: flex;

      a {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        padding: 16px 32px;
        border-radius: 40px;
        display: flex;
        align-items: center;

        background: linear-gradient(
          to right,
          rgb(0, 241, 255),
          rgb(0, 173, 255)
        );
        background-position: 0 0;
        background-size: 400% 400%;
        transition: all ease-in 0.3s;

        &:hover {
          background-position: 100% 0;
        }

        svg {
          margin-left: 24px;
        }
      }
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 32px;

    a {
      color: rgb(0, 241, 255);
    }
  }
}

.container-about {
  transition: all 1s ease;
  top: 100vh;
  background: #fefefe;
}

.container-portifolio {
  transition: all 1s ease;
  top: 100vh;
  background: red;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  align-items: center;
}
